<form action="/" method="POST">
  <input type="url" name="URL" placeholder="請輸入網址 ..." value="{{inputURL}}" required>
  <button type="submit">here</button>
</form>
{{#if code}} http://localhost:3000/{{code}}{{/if}}